<div class="container" *ngIf="forecastData">
    <div class="header">
      <p><img [src]="logo" alt="">G2F Connect</p>
        <p>{{ thedate }}</p>
        <input type="text" placeholder="Search by city or postcode" maxlength="20">
    </div>
  <div class="bodyy">
    <div class="body">
      <div class="city">
        <img [src]="dayImg" alt="">
        <p>{{ forecastData.location.name }}, {{ forecastData.location.country }}</p>
        <p>{{ forecastData.location.region }}</p>

        <div class="stat">
          <p>20°C</p>
          <p>Temperature</p>
        </div>
        <div class="stat">
          <p>20%</p>
          <p>Humidity</p>
        </div>
        <div class="stat">
          <p>20 kph</p>
          <p>Wind</p>
        </div>
      </div>
      <div class="thedata">
        <div class="day">
          <p [ngStyle]="{ 'font-size': '15px' }">{{ thedate }}</p>
        </div>
        <div class="hours">
          <div class="hour">
            <p>12:00Hrs</p>
            <p><img [src]="tempImg" alt="">20°C</p>
            <p><img [src]="humidityImg" alt="">20%</p>
            <p><img [src]="windImg" alt="">20 kph</p>
          </div>
          <div class="hour">
            <p>01:00Hrs</p>
            <p><img [src]="tempImg" alt="">20°C</p>
            <p><img [src]="humidityImg" alt="">20%</p>
            <p><img [src]="windImg" alt="">20 kph</p>
          </div>
          <div class="hour">
            <p>02:00Hrs</p>
            <p><img [src]="tempImg" alt="">20°C</p>
            <p><img [src]="humidityImg" alt="">20%</p>
            <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>03:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>04:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>05:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>06:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>07:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
        <div class="hour">
          <p>08:00Hrs</p>
          <p><img [src]="tempImg" alt="">20°C</p>
          <p><img [src]="humidityImg" alt="">20%</p>
          <p><img [src]="windImg" alt="">20 kph</p>
        </div>
    </div>

  </div>
</div>
    <div class="forecasts">
      <div class="header">
        <p>Forecasts</p>
        <div class="days">
          <p>3 days</p>
          <p>4 days</p>
        </div>
      </div>
      <div class="content">
        <div class="day">
          <p><img [src]="tempImg" alt=""> 22°C</p>
          <p>16 <span>May, Tue</span></p>
        </div>
        <div class="day">
          <p><img [src]="tempImg" alt=""> 22°C</p>
          <p>16 <span>May, Tue</span></p>
        </div>
        <div class="day">
          <p><img [src]="tempImg" alt=""> 22°C</p>
          <p>16 <span>May, Tue</span></p>
        </div>
        <div class="day">
          <p><img [src]="tempImg" alt=""> 22°C</p>
          <p>16 <span>May, Tue</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="addcity">
    <div class="city">
      <p>Add regions you are interested in</p>
    </div>
    <div class="city">
      <span>Eldoret</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Mombasa</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Kisumu</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Meru</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Machakos</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Nanyuki</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>
    <div class="city">
      <span>Kilifi</span>
      <span>Kenya</span>
      <span>23°C</span>
    </div>

  </div>
  <div class="footer">
    <div class="footer-content">
      <p><img [src]="logo" alt="">G2F Connect</p>
      <p>About Us</p>
      <p>News</p>
    </div>
    <div class="product">
      <p>Tutorials</p>
      <p>Terms of Service</p>
      <p>Privacy policy</p>
    </div>
    <div class="contact">
      <p>Contact</p>
    </div>
    <div class="services">
      <p>Services</p>
      <p>Support</p>
    </div>
  </div>
</div>


<!--        <div class="thedata">-->
<!--          <div class="day" *ngFor="let day of forecastData.forecast.forecastday">-->
<!--            <div class="temparature">-->
<!--              <p>{{ day.date}}</p>-->
<!--              <img [src]="day.condition.icon" >-->
<!--              <p>{{ day.maxtemp_c }}° maxTemp</p>-->
<!--              <p>{{ day.avgtemp_c }}° avgTemp</p>-->
<!--            </div>-->
<!--            <div class="humidity">-->
<!--              <p>{{ forecastData.forecast.forecastDay.day.avghumidity }} avgHumidity</p>-->
<!--            </div>-->
<!--            <div class="wind">-->
<!--              <p>{{ forecastData.forecast.forecastDay.day.maxwind_kph }}kph maxWind</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="hour" *ngFor="let day of forecastData.forecast.forecastDay">-->
<!--            <ng-container *ngFor="let hour of day.hour">-->
<!--              <div class="temperature">-->
<!--                <p>{{ hour.time }}</p>-->
<!--                <img [src]="hour.condition.icon">-->
<!--                <p>{{ hour.temp_c }}° Temp</p>-->
<!--              </div>-->
<!--              <div class="humidity">-->
<!--                <p>{{ hour.humidity }} Humidity</p>-->
<!--              </div>-->
<!--              <div class="wind">-->
<!--                <p>{{ hour.wind_kph }}kph Wind</p>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--        </div>-->

